# Flutter / Dart / IDE
.dart_tool/
.idea/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.metadata
build/
coverage/

# Generated native folders
android/.gradle/
ios/Pods/
ios/.symlinks/
macos/Pods/
linux/flutter/ephemeral/
windows/flutter/ephemeral/

# OS files
Thumbs.db
Desktop.ini
